<p>
  <a href="#" routerLink="/dashboard">Back to Dashboard</a>
</p>
<div *ngIf="currentQuestion">
  <div class="question-timer">
    Timer: {{secondsLeft}} seconds
  </div>
  <div *ngIf="hostMode">
    <button (click)="nextQuestion()">Next Question</button>
  </div>
  <div>
    Question {{activeQuiz.CurrentQuestionIndex + 1}} of {{activeQuiz.NumberOfQuestions}}:
    <br />
    {{currentQuestion.Caption}}
  </div>
  <div>
    <ul>
      <li *ngFor="let answer of currentQuestion.Answers">
        <button *ngIf="hostMode == false && selectedAnswer == null" (click)="chooseAnswer(answer)">{{answer.Letter}}</button>
        {{answer.Caption}}
      </li>
    </ul>
  </div>
</div>
<div class="question-loading">
  {{loadingMessage}}
  <br />
  --Loading image--
</div>