/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: Arial, Helvetica, sans-serif;
}

.question-number {
    margin-top: 10px;
}
.question-body {
    font-weight: bold;
    padding: 10px;
}

ul.answer-list {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

ul.answer-list li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 5px;
}

ul.answer-list li span.answer-caption {
    display: inline-block;
    padding-left: 8px;
    font-size: 1.1em;
}

span.score-marker {
    display: inline-block;
    width: 65px;
    text-align: center;
}

span.score-bad {
    color: red;
}

span.score-good {
    color: green;
}

div.correct-answer-header {
    margin-top: 10px;
    font-size: .8em;
    color: #999;
    font-style: italic;
}

.mode {
    color: #aaa;
    padding-bottom: 5px;
}

.quiz-description {
    padding: 10px;
}

.manager {
    margin: 0px 5px;
}

.waiting-for-question {
    text-align: center;
    padding: 10px;
}

.quiz-starting {
    padding: 10px;
    font-style: italic;
    font-size: 1.1em;
}

.intimidation-panel {
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 8px;
}